<form action = "<%= cats_url %>" method = "POST"> 
  <label for = "name"> name </label>
    <input type = "text" placeholder = "Cat's name here" name = "cat[name]">
  
  <label for = "M"> male </label>
    <input type = "radio" name = "cat[sex]" value = "M" id = "M">
  <label for = "F"> female </label>
    <input type = "radio" name = "cat[sex]" value = "F" id = "F">

  <label for = "color"> choose a color: </label>
  <select id="color" name = "cat[color]">
    <option value="" disabled selected> Select a color: </option>
    <% Cat::COLORS.each do |color| %>
    <option value="<%= color %>"> <%= color %> </option>
    <% end %>
  </select>

  <label for = "birthdate"> Choose a birthday: </label>
  <input type="date" id="birthdate" name="cat[birth_date]">
  
  <textarea name="cat[description]"></textarea>
  
  <input type="submit" value="Submit Cat">
</form>