body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: khaki;
}

h1{
    font-size: 38px; 
}
h2{
    font-size: 32px;
}
.ingredients-list{ 
    list-style: square inside;
}
ol {
    list-style: lower-roman;
}
header > img {
    width: 100px;
}
ul li a {
    text-decoration: none;
    color: inherit; 
}

h4 {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

 