<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				sections
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				search
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<li>
				<button> Subscribe Now </button> 
			</li>
			<li>
				<button> Log In </button>
			</li>
			<li id="gear-dropdown-btn">
				<i class="fas fa-cog"></i>
				<%= render partial: 'shared/gear_dropdown' %>
			</li>
		</ul>
	</nav>
</header>