<ul class="section-nav">
    <li><span><a href="#">World</a></span></li>
    <li><span><a href="#">San Francisco</a></span></li>
    <li><span><a href="#">New York</a></span></li>
    <li><span><a href="#">Bootcamp Prep</a></span></li>
    <li><span><a href="#">Jumpstart</a></span></li>
    <li><span><a href="#">Online</a></span></li>
    <li><span><a href="#">Marketing</a></span></li>
    <li><span><a href="#">Sales</a></span></li>
    <li><span><a href="#">TalentMatch</a></span></li>
    <li><span><a href="#">Alumni</a></span></li>
    <li><a href="#">All</a></li>
</ul>