ol, ul, header, nav, aside, p, 
section, figure, li, h2, h1 {
    margin: 0px;
    padding: 0px;
    border: 0px;
    line-height: inherit;
    font-size: inherit;

    font-family:inherit; 
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 15px;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: lower-alpha;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}