/* PHASE 5: Cats */
.content-header {
  background-image: url(../images/cats.jpg);
  height: 200px;
  width: 100%;
  position: relative;
  background-size: cover; 
  display: flex; 
  /* justify-content: center; */
  align-items: flex-end;
}

.content-header > h2 {
  text-shadow: 1px 1px 4px black;
  color: white;
  font-size: 35px;
  margin-bottom: 20px;
  margin-left: 250px;
}

.content-header > button {
  border-radius: 5px;
  padding: 10px 15px;
  border: 1px solid black;
  margin: 5px;
  background-color: white;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.content-header > button:hover {
  background-color: lightgray;
}