<h1>Create a new Subject!</h1>

<form action="<%=subs_url%>" method="POST">
    <input type="hidden" name="authenticity_token"
        value="<%=form_authenticity_token%>">

    <label for="title">Title</label>
    <input type="text" id="title" name="sub[title]">

    <label for="desc">Description</label>
    <input type="text" id="desc" name="sub[description]">

    <input type="submit" value="Create a Sub!">
</form>
