.tile {
  background-color: rgba(128, 128, 128, 0.685);
  border: 1px inset black;
  font-family: sans-serif;
  font-size: 0.7rem;
  min-width: 1rem;
  min-height: 1rem;
  text-align: center;
}

.board {
  display: flex;
}

.row {
  display: flex;
}